In [1]:
#Importing libraries needed
import pandas as pd
import numpy as np

In [2]:
#library needed to open excel documents
"""pip install xlrd"""

'pip install xlrd'

In [3]:
#library needed to open excel documents 
"""!pip install openpyxl"""

'!pip install openpyxl'

In [4]:
#opening the datasets
#file path 
file_name = r'C:\Users\salom\OneDrive\Área de Trabalho\FBN-\data\Feminist Bookstore News (9-5-2023).xlsx'  
sheet = "Article List"  # Specify the sheet name or number
df = pd.read_excel(io=file_name, sheet_name=sheet)

file_name = r'C:\Users\salom\OneDrive\Área de Trabalho\FBN-\data\Feminist Bookstore News (9-5-2023).xlsx'  
sheet = "Issue List"  # Specify the sheet name or number
date = pd.read_excel(io=file_name, sheet_name=sheet)

In [5]:
df.head()

,Contributor Name,Vol,No,Year,Month,Article Title,Page Start,Page End,Author,Category,Graphics?,"If ad, size?",Notes,File,@
0,Li-Anne Wright,22.0,6,2000.0,NaN,Ms Magazine Ad,0,0,Ms Magazine,Advertisements,Yes,NaN,Inner cover advertisement for Ms Magazine,NaN,NaN
1,Li-Anne Wright,22.0,6,2000.0,NaN,As we go to press...,1,2,Carol Seajay,Editor's Note,NaN,NaN,"Commentary on B&N, FBN e-issues, Seajay in com...",NaN,NaN
2,Li-Anne Wright,22.0,6,2000.0,NaN,Amelia and Eleanor Go For a Ride Ad,3,3,Scholastic Press,Advertisements,Yes,NaN,Advertisement for book Amelia and Eleanor Go F...,NaN,NaN
3,Li-Anne Wright,22.0,6,2000.0,NaN,Winged...Words Ad,4,4,Words Distributing Company,Advertisements,Yes,NaN,Ad for Spiritual Journeys along the Yellow Bri...,NaN,NaN
4,Li-Anne Wright,22.0,6,2000.0,NaN,Polestar Press Gang Publishing Alliance Ad,6,6,Polestar Press Gang,Advertisements,Yes,NaN,Advertisement for Polestar Book Publishers and...,NaN,NaN

In [6]:
date

,Volume #,Issue #,Location,Person Working on it,Date Started,Date Ended,Email,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,1,1,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,NaN,NaN,NaN
1,1,2,LPA,Andréanne Wahlman,2023-08-06,2023-08-06,NaN,NaN,NaN,NaN
2,1,3,LPA,Andréanne Wahlman,2023-08-07,2023-08-07,NaN,NaN,NaN,NaN
3,1,4,LPA,NaN,NaT,NaT,NaN,NaN,NaN,NaN
4,1,5,LPA,NaN,NaT,NaT,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
125,21,5,JSTOR,Li-Anne Wright,2023-05-04,2023-05-05,NaN,NaN,NaN,NaN
126,21,6,JSTOR,Li-Anne Wright,2023-04-28,2023-04-28,NaN,NaN,NaN,NaN
127,22,1,JSTOR,Li-Anne Wright,2023-04-28,2023-05-25,NaN,NaN,NaN,NaN
128,22,3/4,JSTOR,Andréanne Wahlman,2023-04-23,2023-06-22,NaN,NaN,NaN,NaN
129,22,6,JSTOR,Li-Anne Wright,2023-04-14,2023-04-14,NaN,NaN,NaN,NaN

In [7]:
#renaming columns so we can join datasets 

df.rename(columns={"Vol": "Volume", "No": "Issue"}, inplace= True)
date.rename(columns={"Volume #": "Volume", "Issue #": "Issue"}, inplace =True)

In [8]:
#any issue that doesn't have a Date Ended means it's incomplete
#dropping any incomplete issue 
date.dropna(subset = ['Date Ended'], inplace= True)
date

,Volume,Issue,Location,Person Working on it,Date Started,Date Ended,Email,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,1,1,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,NaN,NaN,NaN
1,1,2,LPA,Andréanne Wahlman,2023-08-06,2023-08-06,NaN,NaN,NaN,NaN
2,1,3,LPA,Andréanne Wahlman,2023-08-07,2023-08-07,NaN,NaN,NaN,NaN
9,2,1,LPA,Rose Norman,2023-07-31,2023-07-31,rose.norman@gmail.com,NaN,NaN,NaN
10,2,2,LPA,Rose Norman,2023-07-31,2023-08-16,rose.norman@gmail.com,NaN,NaN,NaN
11,2,3,LPA,Rose Norman,2023-08-16,2023-08-16,rose.norman@gmail.com,NaN,NaN,NaN
12,2,4,LPA,Rose Norman,2023-08-16,2023-08-16,rose.norman@gmail.com,NaN,NaN,NaN
13,2,5/6,LPA,Rose Norman,2023-08-16,2023-08-16,rose.norman@gmail.com,NaN,NaN,NaN
14,2,7/8,LPA,Rose Norman,2023-08-16,2023-08-16,rose.norman@gmail.com,NaN,NaN,NaN
34,6,2,LPA,Andréanne Wahlman,2023-08-14,2023-08-14,NaN,NaN,NaN,NaN
37,7,1,JSTOR,Li-Anne Wright,2023-04-14,2023-05-27,NaN,NaN,In progress,10.0
38,7,2,JSTOR,Li-Anne Wright,2023-04-14,2023-05-27,NaN,NaN,Completed,51.0
39,7,3,JSTOR,Li-Anne Wright,2023-04-14,2023-05-27,NaN,NaN,NaN,NaN
40,7,4,JSTOR,Li-Anne Wright,2023-04-14,2023-05-27,NaN,NaN,NaN,NaN
41,7,5,JSTOR,Cassidy Hunt,2023-04-28,2023-04-28,NaN,NaN,NaN,NaN
42,7,6,JSTOR,Cassidy Hunt,2023-04-28,2023-04-28,NaN,NaN,NaN,NaN
44,8,2/3,JSTOR,Rosal Lorico,2023-05-14,2023-06-18,NaN,NaN,NaN,NaN
45,8,4,JSTOR,Cassidy Hunt,2023-05-15,2023-05-15,NaN,NaN,NaN,NaN
46,8,5,JSTOR,Chloe Berger,2023-05-18,2023-05-18,NaN,NaN,NaN,NaN
47,8,6,JSTOR,Chloe Berger,2023-05-18,2023-05-21,NaN,NaN,NaN,NaN
48,9,1,JSTOR,Chloe Berger,2023-05-31,2023-05-31,NaN,NaN,NaN,NaN
49,9,3/4,JSTOR,Chloe Berger,2023-06-04,2023-06-05,NaN,NaN,NaN,NaN
50,9,5,JSTOR,Anna Greene,2023-06-08,2023-07-02,NaN,NaN,NaN,NaN
51,9,6,JSTOR,Cassidy Hunt,2023-11-06,2023-07-24,NaN,NaN,NaN,NaN
52,10,2,JSTOR,Julie Enszer,2023-06-12,2023-06-18,NaN,NaN,NaN,NaN
53,10,3,JSTOR,Li-Anne Wright,2023-06-14,2023-07-31,NaN,NaN,NaN,NaN
54,10,4,JSTOR,Rosal Lorico,2023-06-18,2023-07-05,NaN,NaN,NaN,NaN
55,10,5,JSTOR,Andréanne Wahlman,2023-06-23,2023-06-30,NaN,NaN,NaN,NaN
56,10,6,JSTOR,Li-Anne Wright,2023-06-12,2023-06-14,NaN,NaN,NaN,NaN
58,11,2,JSTOR,Taylor Humin,2023-06-24,2023-07-16,NaN,NaN,NaN,NaN
59,11,3,JSTOR,Andréanne Wahlman,2023-06-30,2023-07-07,NaN,NaN,NaN,NaN
60,11,4,JSTOR,Taylor Harding,2023-06-24,2024-08-13,taylor.harding88@gmail.com,NaN,NaN,NaN
61,11,5,JSTOR,Ana A. Rico,2023-07-01,2023-07-27,ana.a.rico44@gmail.com,NaN,NaN,NaN
62,11,6,JSTOR,Elizabeth Galoozis,2023-07-02,2023-08-13,NaN,NaN,NaN,NaN
63,12,1,JSTOR,Rosal Lorico,2023-07-05,2023-07-22,NaN,NaN,NaN,NaN
65,12,3,JSTOR,Elizabeth Lanyon,2023-07-07,2023-07-10,e.m.lanyon@gmail.com,NaN,NaN,NaN
66,12,4,JSTOR,Andréanne Wahlman,2023-07-07,2023-07-22,NaN,NaN,NaN,NaN
71,13,2,JSTOR,Elizabeth Lanyon,2023-07-11,2023-07-14,e.m.lanyon@gmail.com,NaN,NaN,NaN
72,13,3,JSTOR,Elizabeth Lanyon,2023-08-09,2023-08-25,e.m.lanyon@gmail.com,NaN,NaN,NaN
74,13,5,JSTOR,Nicole Olila,2023-05-26,2023-07-28,NOTE: Cassidy Hunt started on 7/26/2023 - (thi...,NaN,NaN,NaN
75,13,6,JSTOR,Cassidy Hunt,2023-07-31,2023-08-22,NaN,NaN,NaN,NaN
93,16,3,JSTOR,Dana Westmoreland,2023-07-26,2023-08-26,midd.west2013@gmail.com,NaN,NaN,NaN
104,18,1,JSTOR,Taylor Humin,2023-07-21,2023-09-04,taylorhumin@gmail.com,NaN,NaN,NaN
116,19,6,JSTOR,Alexa Mangione,2023-07-17,2023-08-21,mangione.alexa@gmail.com,NaN,NaN,NaN
119,20,4,JSTOR,Sam Grasland,2023-07-26,2023-08-13,samgrasland@gmail.com,NaN,NaN,NaN
121,21,1,JSTOR,Sam Grasland,2023-05-28,2023-07-21,samgrasland@gmail.com,NaN,NaN,NaN
125,21,5,JSTOR,Li-Anne Wright,2023-05-04,2023-05-05,NaN,NaN,NaN,NaN
126,21,6,JSTOR,Li-Anne Wright,2023-04-28,2023-04-28,NaN,NaN,NaN,NaN
127,22,1,JSTOR,Li-Anne Wright,2023-04-28,2023-05-25,NaN,NaN,NaN,NaN
128,22,3/4,JSTOR,Andréanne Wahlman,2023-04-23,2023-06-22,NaN,NaN,NaN,NaN
129,22,6,JSTOR,Li-Anne Wright,2023-04-14,2023-04-14,NaN,NaN,NaN,NaN

In [9]:
df['Volume'] = pd.to_numeric(df['Volume'], errors='coerce')
df['Issue'] = pd.to_numeric(df['Issue'], errors='coerce')
date['Volume'] = pd.to_numeric(date['Volume'], errors='coerce')
date['Issue'] = pd.to_numeric(date['Issue'], errors='coerce')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2296 entries, 0 to 2295
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Contributor Name  2267 non-null   object
 1   Volume            2267 non-null   float64
 2   Issue             2057 non-null   float64
 3   Year              2267 non-null   float64
 4   Month             1647 non-null   object
 5   Article Title     2194 non-null   object
 6   Page Start        2214 non-null   object
 7   Page End          2176 non-null   object
 8   Author            2007 non-null   object
 9   Category          2189 non-null   object
 10  Graphics?         1434 non-null   object
 11  If ad, size?      201 non-null    object
 12  Notes             1314 non-null   object
 13  File              3 non-null      object
 14  @                 0 non-null      float64
dtypes: float64(4), object(11)
memory usage: 269.2+ KB

In [11]:
date.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51 entries, 0 to 129
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Volume                51 non-null     int64
 1   Issue                 46 non-null     float64
 2   Location              51 non-null     object
 3   Person Working on it  51 non-null     object
 4   Date Started          51 non-null     datetime64[ns]
 5   Date Ended            51 non-null     datetime64[ns]
 6   Email                 17 non-null     object
 7   Unnamed: 7            0 non-null      object
 8   Unnamed: 8            2 non-null      object
 9   Unnamed: 9            2 non-null      float64
dtypes: datetime64[ns](2), float64(2), int64(1), object(5)
memory usage: 4.4+ KB

In [12]:
#joining the datasets date and df so we can drop any info from df that is incomplete
#setting the index to Volume and Issue so that we use .join()
df.set_index(['Volume', 'Issue'], inplace = True)
date.set_index(['Volume', 'Issue'], inplace = True)

In [13]:
df.head()

             Contributor Name    Year Month  \
Volume Issue
22.0   6.0     Li-Anne Wright  2000.0   NaN
       6.0     Li-Anne Wright  2000.0   NaN
       6.0     Li-Anne Wright  2000.0   NaN
       6.0     Li-Anne Wright  2000.0   NaN
       6.0     Li-Anne Wright  2000.0   NaN

                                           Article Title Page Start Page End  \
Volume Issue
22.0   6.0                                Ms Magazine Ad          0        0
       6.0                          As we go to press...          1        2
       6.0           Amelia and Eleanor Go For a Ride Ad          3        3
       6.0                             Winged...Words Ad          4        4
       6.0    Polestar Press Gang Publishing Alliance Ad          6        6

                                  Author        Category Graphics?  \
Volume Issue
22.0   6.0                   Ms Magazine  Advertisements       Yes
       6.0                  Carol Seajay   Editor's Note       NaN
       6.0              Scholastic Press  Advertisements       Yes
       6.0    Words Distributing Company  Advertisements       Yes
       6.0           Polestar Press Gang  Advertisements       Yes

             If ad, size?                                              Notes  \
Volume Issue
22.0   6.0            NaN          Inner cover advertisement for Ms Magazine
       6.0            NaN  Commentary on B&N, FBN e-issues, Seajay in com...
       6.0            NaN  Advertisement for book Amelia and Eleanor Go F...
       6.0            NaN  Ad for Spiritual Journeys along the Yellow Bri...
       6.0            NaN  Advertisement for Polestar Book Publishers and...

             File   @
Volume Issue
22.0   6.0    NaN NaN
       6.0    NaN NaN
       6.0    NaN NaN
       6.0    NaN NaN
       6.0    NaN NaN

In [14]:
date.head()

             Location Person Working on it Date Started Date Ended  \
Volume Issue
1      1.0        LPA       Li-Anne Wright   2023-07-22 2023-07-23
       2.0        LPA    Andréanne Wahlman   2023-08-06 2023-08-06
       3.0        LPA    Andréanne Wahlman   2023-08-07 2023-08-07
2      1.0        LPA          Rose Norman   2023-07-31 2023-07-31
       2.0        LPA          Rose Norman   2023-07-31 2023-08-16

                              Email Unnamed: 7 Unnamed: 8  Unnamed: 9
Volume Issue
1      1.0                      NaN        NaN        NaN         NaN
       2.0                      NaN        NaN        NaN         NaN
       3.0                      NaN        NaN        NaN         NaN
2      1.0    rose.norman@gmail.com        NaN        NaN         NaN
       2.0    rose.norman@gmail.com        NaN        NaN         NaN

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 2296 entries, (22.0, 6.0) to (14.0, 1.0)
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Contributor Name  2267 non-null   object
 1   Year              2267 non-null   float64
 2   Month             1647 non-null   object
 3   Article Title     2194 non-null   object
 4   Page Start        2214 non-null   object
 5   Page End          2176 non-null   object
 6   Author            2007 non-null   object
 7   Category          2189 non-null   object
 8   Graphics?         1434 non-null   object
 9   If ad, size?      201 non-null    object
 10  Notes             1314 non-null   object
 11  File              3 non-null      object
 12  @                 0 non-null      float64
dtypes: float64(2), object(11)
memory usage: 238.7+ KB

In [16]:
date.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 51 entries, (1, 1.0) to (22, 6.0)
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Location              51 non-null     object
 1   Person Working on it  51 non-null     object
 2   Date Started          51 non-null     datetime64[ns]
 3   Date Ended            51 non-null     datetime64[ns]
 4   Email                 17 non-null     object
 5   Unnamed: 7            0 non-null      object
 6   Unnamed: 8            2 non-null      object
 7   Unnamed: 9            2 non-null      float64
dtypes: datetime64[ns](2), float64(1), object(5)
memory usage: 4.3+ KB

In [17]:
#joining df and date datasets
df = date.join(df, how='left')

In [18]:
#reseting the index
df.reset_index(inplace = True)
df.head()

,Volume,Issue,Location,Person Working on it,Date Started,Date Ended,Email,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Article Title,Page Start,Page End,Author,Category,Graphics?,"If ad, size?",Notes,File,@
0,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,NaN,NaN,NaN,...,Mission/About Newsletter,1,1,Andre,Editor's Note,NaN,NaN,"Mission of FBN (share info, cooperate instead ...",NaN,NaN
1,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,NaN,NaN,NaN,...,Editor's Note?,2,2,Carol Seajay,Editor's Note,NaN,NaN,NaN,NaN,NaN
2,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,NaN,NaN,NaN,...,Hot New Books,2,3,Carol Seajay,Booklist/Medialist,NaN,NaN,NaN,NaN,NaN
3,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,NaN,NaN,NaN,...,Books in Spanish,3,5,Carol Seajay,Booklist/Medialist,NaN,NaN,NaN,NaN,NaN
4,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,NaN,NaN,NaN,...,Brilliant Ideas,5,5,Carol Seajay,Short News Bookstores,NaN,NaN,NaN,NaN,NaN

In [19]:
#any issue that doesn't have a Date Ended means it's incomplete
#dropping any incomplete issue 
df.dropna(subset = ['Date Ended'], inplace= True)
df

,Volume,Issue,Location,Person Working on it,Date Started,Date Ended,Email,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Article Title,Page Start,Page End,Author,Category,Graphics?,"If ad, size?",Notes,File,@
0,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,NaN,NaN,NaN,...,Mission/About Newsletter,1,1,Andre,Editor's Note,NaN,NaN,"Mission of FBN (share info, cooperate instead ...",NaN,NaN
1,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,NaN,NaN,NaN,...,Editor's Note?,2,2,Carol Seajay,Editor's Note,NaN,NaN,NaN,NaN,NaN
2,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,NaN,NaN,NaN,...,Hot New Books,2,3,Carol Seajay,Booklist/Medialist,NaN,NaN,NaN,NaN,NaN
3,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,NaN,NaN,NaN,...,Books in Spanish,3,5,Carol Seajay,Booklist/Medialist,NaN,NaN,NaN,NaN,NaN
4,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,NaN,NaN,NaN,...,Brilliant Ideas,5,5,Carol Seajay,Short News Bookstores,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2059,22,6.0,JSTOR,Li-Anne Wright,2023-04-14,2023-04-14,NaN,NaN,NaN,NaN,...,Celebrate Our Strength ad,116,116,Bantam,Advertisements,Yes,NaN,"Ad for Circle Round by Starhawk, Dianne Baker,...",NaN,NaN
2060,22,6.0,JSTOR,Li-Anne Wright,2023-04-14,2023-04-14,NaN,NaN,NaN,NaN,...,And On Publisher's Row,117,135,Teri Mae Rutledge,Presslist,Yes,NaN,Graphics: Bantam Trade Paperback ad for barbar...,NaN,NaN
2061,22,6.0,JSTOR,Li-Anne Wright,2023-04-14,2023-04-14,NaN,NaN,NaN,NaN,...,Index of Advertisers,136,136,FBN,Other,NaN,NaN,NaN,NaN,NaN
2062,22,6.0,JSTOR,Li-Anne Wright,2023-04-14,2023-04-14,NaN,NaN,NaN,NaN,...,"The Naiad Press, Inc. ad",137,137,"The Naiad Press, Inc.",Advertisements,Yes,NaN,Ad for Unforgettable by Karin Kallmaker and Un...,NaN,NaN
2063,22,6.0,JSTOR,Li-Anne Wright,2023-04-14,2023-04-14,NaN,NaN,NaN,NaN,...,Women Writing a Feminist Future! ad,139,139,Spinsters Ink,Advertisements,Yes,NaN,Ad for Booked for Murder by Val McDermid; Thos...,NaN,NaN

In [20]:
#dropping all 'Unnamed' columns
# Create a boolean array indicating which columns contain the string "Unnamed"
cols_to_drop = df.columns[df.columns.str.contains('Unnamed')]

# Drop the columns containing the string "Email"
df.drop(cols_to_drop, axis=1, inplace=True)
df

,Volume,Issue,Location,Person Working on it,Date Started,Date Ended,Email,Contributor Name,Year,Month,Article Title,Page Start,Page End,Author,Category,Graphics?,"If ad, size?",Notes,File,@
0,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,Li-Anne Wright,1976.0,October,Mission/About Newsletter,1,1,Andre,Editor's Note,NaN,NaN,"Mission of FBN (share info, cooperate instead ...",NaN,NaN
1,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,Li-Anne Wright,1976.0,October,Editor's Note?,2,2,Carol Seajay,Editor's Note,NaN,NaN,NaN,NaN,NaN
2,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,Li-Anne Wright,1976.0,October,Hot New Books,2,3,Carol Seajay,Booklist/Medialist,NaN,NaN,NaN,NaN,NaN
3,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,Li-Anne Wright,1976.0,October,Books in Spanish,3,5,Carol Seajay,Booklist/Medialist,NaN,NaN,NaN,NaN,NaN
4,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,Li-Anne Wright,1976.0,October,Brilliant Ideas,5,5,Carol Seajay,Short News Bookstores,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2059,22,6.0,JSTOR,Li-Anne Wright,2023-04-14,2023-04-14,NaN,Li-Anne Wright,2000.0,NaN,Celebrate Our Strength ad,116,116,Bantam,Advertisements,Yes,NaN,"Ad for Circle Round by Starhawk, Dianne Baker,...",NaN,NaN
2060,22,6.0,JSTOR,Li-Anne Wright,2023-04-14,2023-04-14,NaN,Li-Anne Wright,2000.0,NaN,And On Publisher's Row,117,135,Teri Mae Rutledge,Presslist,Yes,NaN,Graphics: Bantam Trade Paperback ad for barbar...,NaN,NaN
2061,22,6.0,JSTOR,Li-Anne Wright,2023-04-14,2023-04-14,NaN,Li-Anne Wright,2000.0,NaN,Index of Advertisers,136,136,FBN,Other,NaN,NaN,NaN,NaN,NaN
2062,22,6.0,JSTOR,Li-Anne Wright,2023-04-14,2023-04-14,NaN,Li-Anne Wright,2000.0,NaN,"The Naiad Press, Inc. ad",137,137,"The Naiad Press, Inc.",Advertisements,Yes,NaN,Ad for Unforgettable by Karin Kallmaker and Un...,NaN,NaN
2063,22,6.0,JSTOR,Li-Anne Wright,2023-04-14,2023-04-14,NaN,Li-Anne Wright,2000.0,NaN,Women Writing a Feminist Future! ad,139,139,Spinsters Ink,Advertisements,Yes,NaN,Ad for Booked for Murder by Val McDermid; Thos...,NaN,NaN

In [21]:
df[['Page Start', 'Page End', 'Volume']] = df[['Page Start', 'Page End', 'Volume']].apply(pd.to_numeric, errors='coerce')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2064 entries, 0 to 2063
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Volume                2064 non-null   int64
 1   Issue                 1816 non-null   float64
 2   Location              2064 non-null   object
 3   Person Working on it  2064 non-null   object
 4   Date Started          2064 non-null   datetime64[ns]
 5   Date Ended            2064 non-null   datetime64[ns]
 6   Email                 952 non-null    object
 7   Contributor Name      2064 non-null   object
 8   Year                  2064 non-null   float64
 9   Month                 1493 non-null   object
 10  Article Title         2051 non-null   object
 11  Page Start            2031 non-null   float64
 12  Page End              1989 non-null   float64
 13  Author                1896 non-null   object
 14  Category              2041 non-null   object
 15  Graphics?             1352 non-null   object
 16  If ad, size?          163 non-null    object
 17  Notes                 1190 non-null   object
 18  File                  3 non-null      object
 19  @                     0 non-null      float64
dtypes: datetime64[ns](2), float64(5), int64(1), object(12)
memory usage: 322.6+ KB

In [23]:
df['Issue Length'] = df.groupby(['Volume', 'Issue'])['Page End'].transform(max)

In [24]:
df

,Volume,Issue,Location,Person Working on it,Date Started,Date Ended,Email,Contributor Name,Year,Month,...,Page Start,Page End,Author,Category,Graphics?,"If ad, size?",Notes,File,@,Issue Length
0,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,Li-Anne Wright,1976.0,October,...,1.0,1.0,Andre,Editor's Note,NaN,NaN,"Mission of FBN (share info, cooperate instead ...",NaN,NaN,8.0
1,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,Li-Anne Wright,1976.0,October,...,2.0,2.0,Carol Seajay,Editor's Note,NaN,NaN,NaN,NaN,NaN,8.0
2,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,Li-Anne Wright,1976.0,October,...,2.0,3.0,Carol Seajay,Booklist/Medialist,NaN,NaN,NaN,NaN,NaN,8.0
3,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,Li-Anne Wright,1976.0,October,...,3.0,5.0,Carol Seajay,Booklist/Medialist,NaN,NaN,NaN,NaN,NaN,8.0
4,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,Li-Anne Wright,1976.0,October,...,5.0,5.0,Carol Seajay,Short News Bookstores,NaN,NaN,NaN,NaN,NaN,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2059,22,6.0,JSTOR,Li-Anne Wright,2023-04-14,2023-04-14,NaN,Li-Anne Wright,2000.0,NaN,...,116.0,116.0,Bantam,Advertisements,Yes,NaN,"Ad for Circle Round by Starhawk, Dianne Baker,...",NaN,NaN,139.0
2060,22,6.0,JSTOR,Li-Anne Wright,2023-04-14,2023-04-14,NaN,Li-Anne Wright,2000.0,NaN,...,117.0,135.0,Teri Mae Rutledge,Presslist,Yes,NaN,Graphics: Bantam Trade Paperback ad for barbar...,NaN,NaN,139.0
2061,22,6.0,JSTOR,Li-Anne Wright,2023-04-14,2023-04-14,NaN,Li-Anne Wright,2000.0,NaN,...,136.0,136.0,FBN,Other,NaN,NaN,NaN,NaN,NaN,139.0
2062,22,6.0,JSTOR,Li-Anne Wright,2023-04-14,2023-04-14,NaN,Li-Anne Wright,2000.0,NaN,...,137.0,137.0,"The Naiad Press, Inc.",Advertisements,Yes,NaN,Ad for Unforgettable by Karin Kallmaker and Un...,NaN,NaN,139.0
2063,22,6.0,JSTOR,Li-Anne Wright,2023-04-14,2023-04-14,NaN,Li-Anne Wright,2000.0,NaN,...,139.0,139.0,Spinsters Ink,Advertisements,Yes,NaN,Ad for Booked for Murder by Val McDermid; Thos...,NaN,NaN,139.0

In [25]:
df['Article Length'] = (df['Page End'] - df['Page Start']) + 1
df.head()

,Volume,Issue,Location,Person Working on it,Date Started,Date Ended,Email,Contributor Name,Year,Month,...,Page End,Author,Category,Graphics?,"If ad, size?",Notes,File,@,Issue Length,Article Length
0,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,Li-Anne Wright,1976.0,October,...,1.0,Andre,Editor's Note,NaN,NaN,"Mission of FBN (share info, cooperate instead ...",NaN,NaN,8.0,1.0
1,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,Li-Anne Wright,1976.0,October,...,2.0,Carol Seajay,Editor's Note,NaN,NaN,NaN,NaN,NaN,8.0,1.0
2,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,Li-Anne Wright,1976.0,October,...,3.0,Carol Seajay,Booklist/Medialist,NaN,NaN,NaN,NaN,NaN,8.0,2.0
3,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,Li-Anne Wright,1976.0,October,...,5.0,Carol Seajay,Booklist/Medialist,NaN,NaN,NaN,NaN,NaN,8.0,3.0
4,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,Li-Anne Wright,1976.0,October,...,5.0,Carol Seajay,Short News Bookstores,NaN,NaN,NaN,NaN,NaN,8.0,1.0

In [26]:
df['Article Percent'] = (df['Article Length']/df['Issue Length'])*100

In [27]:
df.head()

,Volume,Issue,Location,Person Working on it,Date Started,Date Ended,Email,Contributor Name,Year,Month,...,Author,Category,Graphics?,"If ad, size?",Notes,File,@,Issue Length,Article Length,Article Percent
0,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,Li-Anne Wright,1976.0,October,...,Andre,Editor's Note,NaN,NaN,"Mission of FBN (share info, cooperate instead ...",NaN,NaN,8.0,1.0,12.5
1,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,Li-Anne Wright,1976.0,October,...,Carol Seajay,Editor's Note,NaN,NaN,NaN,NaN,NaN,8.0,1.0,12.5
2,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,Li-Anne Wright,1976.0,October,...,Carol Seajay,Booklist/Medialist,NaN,NaN,NaN,NaN,NaN,8.0,2.0,25.0
3,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,Li-Anne Wright,1976.0,October,...,Carol Seajay,Booklist/Medialist,NaN,NaN,NaN,NaN,NaN,8.0,3.0,37.5
4,1,1.0,LPA,Li-Anne Wright,2023-07-22,2023-07-23,NaN,Li-Anne Wright,1976.0,October,...,Carol Seajay,Short News Bookstores,NaN,NaN,NaN,NaN,NaN,8.0,1.0,12.5

In [28]:
df = df[['Contributor Name', 'Volume', 'Issue', 'Year', 'Month', 'Article Title', 'Page Start', 'Page End', 'Article Length', 'Article Percent', 'Issue Length', 'Date Started', 'Date Ended', 'Author', 'Category', 'Graphics?', 'Notes', 'File']]
df.head()

,Contributor Name,Volume,Issue,Year,Month,Article Title,Page Start,Page End,Article Length,Article Percent,Issue Length,Date Started,Date Ended,Author,Category,Graphics?,Notes,File
0,Li-Anne Wright,1,1.0,1976.0,October,Mission/About Newsletter,1.0,1.0,1.0,12.5,8.0,2023-07-22,2023-07-23,Andre,Editor's Note,NaN,"Mission of FBN (share info, cooperate instead ...",NaN
1,Li-Anne Wright,1,1.0,1976.0,October,Editor's Note?,2.0,2.0,1.0,12.5,8.0,2023-07-22,2023-07-23,Carol Seajay,Editor's Note,NaN,NaN,NaN
2,Li-Anne Wright,1,1.0,1976.0,October,Hot New Books,2.0,3.0,2.0,25.0,8.0,2023-07-22,2023-07-23,Carol Seajay,Booklist/Medialist,NaN,NaN,NaN
3,Li-Anne Wright,1,1.0,1976.0,October,Books in Spanish,3.0,5.0,3.0,37.5,8.0,2023-07-22,2023-07-23,Carol Seajay,Booklist/Medialist,NaN,NaN,NaN
4,Li-Anne Wright,1,1.0,1976.0,October,Brilliant Ideas,5.0,5.0,1.0,12.5,8.0,2023-07-22,2023-07-23,Carol Seajay,Short News Bookstores,NaN,NaN,NaN

In [29]:
df.Month.unique()

array(['October', 'November', 'January', '?', 'June', 'August',
       '(Sep/Oct?)', 'December', 'September', nan, 'May-June', 'Dec',
       'Feb', 'April', 'Augusr', 'Nov/Dec.', 'Nov', 'Jan/Feb', 'Mar/Apr',
       'May/June', 'Sept / Oct', 'Sept/Oct', 'March/April',
       'November/December', 3], dtype=object)

In [30]:
#Unifying Month Values 
row_labels = {'(Sep/Oct?)':'September','May-June':'May', 'Dec':'December',
       'Feb':'February', 'Augusr':'August', 'Nov/Dec.':'November', 'Nov':'November', 'Jan/Feb':'January', 'Mar/Apr':'March',
       'May/June':'May', 'Sept / Oct':'September', 'Sept/Oct':'September', 'March/April':'March',
       'November/December':'November'}

df['Month']=df['Month'].replace(row_labels)

C:\Users\salom\AppData\Local\Temp\ipykernel_9112\1502239364.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Month']=df['Month'].replace(row_labels)

In [31]:
df.Month.unique()

array(['October', 'November', 'January', '?', 'June', 'August',
       'September', 'December', nan, 'May', 'February', 'April', 'March',
       3], dtype=object)

In [32]:
df.Category.unique()

array(["Editor's Note", 'Booklist/Medialist', 'Short News Bookstores',
       'Other', 'Other Feature', 'Advertisements', 'Table of Contents',
       'Letters', 'News Feature', 'Short News', nan,
       'External Booklists and Awards', 'Short News Publishers',
       'They Went That-A-Way', 'Letter ', 'Booklist/Media list',
       'Workshop Summary', 'Presslist', 'Writing Wanted', 'Booklist'],
      dtype=object)

In [33]:
row_labels = {'Other Feature' : 'Other', 'Letter ':'Letters', 'Booklist/Media list' : 'Booklist/Medialist', 'Booklist':'Booklist/Medialist'}

df['Category']=df['Category'].replace(row_labels)

C:\Users\salom\AppData\Local\Temp\ipykernel_9112\165856882.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Category']=df['Category'].replace(row_labels)

In [34]:
df.Category.unique()

array(["Editor's Note", 'Booklist/Medialist', 'Short News Bookstores',
       'Other', 'Advertisements', 'Table of Contents', 'Letters',
       'News Feature', 'Short News', nan, 'External Booklists and Awards',
       'Short News Publishers', 'They Went That-A-Way',
       'Workshop Summary', 'Presslist', 'Writing Wanted'], dtype=object)

In [35]:
df[df['Category'].isna()]

,Contributor Name,Volume,Issue,Year,Month,Article Title,Page Start,Page End,Article Length,Article Percent,Issue Length,Date Started,Date Ended,Author,Category,Graphics?,Notes,File
36,Rose Norman,2,1.0,1978.0,?,From the Boys,9.0,NaN,NaN,NaN,6.0,2023-07-31,2023-07-31,NaN,NaN,NaN,NaN,NaN
37,Rose Norman,2,1.0,1978.0,?,SciFi Notes,10.0,NaN,NaN,NaN,6.0,2023-07-31,2023-07-31,NaN,NaN,NaN,NaN,NaN
40,Rose Norman,2,1.0,1978.0,?,Used Books,11.0,NaN,NaN,NaN,6.0,2023-07-31,2023-07-31,Sonya Wetstone's Book & Cheese,NaN,NaN,NaN,NaN
41,Rose Norman,2,1.0,1978.0,?,New Distributors,11.0,NaN,NaN,NaN,6.0,2023-07-31,2023-07-31,NaN,NaN,NaN,NaN,NaN
42,Rose Norman,2,1.0,1978.0,?,Misc from the Questionnaires,12.0,NaN,NaN,NaN,6.0,2023-07-31,2023-07-31,NaN,NaN,NaN,NaN,NaN
43,Rose Norman,2,1.0,1978.0,?,Changing,12.0,NaN,NaN,NaN,6.0,2023-07-31,2023-07-31,Carol Seajay,NaN,NaN,NaN,NaN
397,Cassidy Hunt,8,4.0,1985.0,NaN,On Publisher's Row,46.0,52.0,7.0,13.461538,52.0,2023-05-15,2023-05-15,NaN,NaN,yes,Image by Amy Reichert in Betty-san p.45; ditto...,NaN
471,Chloe Berger,9,NaN,1987.0,NaN,Customary Treatment?,17.0,17.0,1.0,NaN,NaN,2023-06-04,2023-06-05,"GCN, The London Gay Times, British Bookseller",NaN,Yes,Graphic: photo of damaged book,NaN
573,Julie R Enszer,10,2.0,1987.0,August,Tupperware Watch OUT!,16.0,NaN,NaN,NaN,82.0,2023-06-12,2023-06-18,Peggy & Womanspirit Books,NaN,yes - book covers,NaN,NaN
759,Li-Anne Wright,10,6.0,1988.0,April,Letters,4.0,64.0,61.0,92.424242,66.0,2023-06-12,2023-06-14,Jahnet Hewsick; Gail (The Feminist Bookshop); ...,NaN,NaN,NaN,NaN
894,Taylor Harding,11,4.0,1988.0,November,Short Stories,17.0,20.0,4.0,4.000000,100.0,2023-06-24,2024-08-13,NaN,NaN,NaN,1000 Booksellers Sign Petition Against Illegal...,NaN
1048,Rosal Lorico,12,1.0,1989.0,May,Bestsellers,23.0,NaN,NaN,NaN,22.0,2023-07-05,2023-07-22,"New Words, Pandora Book Peddlers, Two Sisters,...",NaN,NaN,NaN,NaN
1049,Rosal Lorico,12,1.0,1989.0,May,NaN,NaN,NaN,NaN,NaN,22.0,2023-07-05,2023-07-22,NaN,NaN,NaN,NaN,NaN
1050,Rosal Lorico,12,1.0,1989.0,May,NaN,NaN,NaN,NaN,NaN,22.0,2023-07-05,2023-07-22,NaN,NaN,NaN,NaN,NaN
1051,Rosal Lorico,12,1.0,1989.0,May,NaN,NaN,NaN,NaN,NaN,22.0,2023-07-05,2023-07-22,NaN,NaN,NaN,NaN,NaN
1052,Rosal Lorico,12,1.0,1989.0,May,NaN,NaN,NaN,NaN,NaN,22.0,2023-07-05,2023-07-22,NaN,NaN,NaN,NaN,NaN
1183,Elizabeth Lanyon,13,2.0,1990.0,August,Feminist Bookstore News,0.0,0.0,1.0,1.086957,92.0,2023-07-11,2023-07-14,NaN,NaN,NaN,cover,NaN
1248,Elizabeth Lanyon,13,3.0,1990.0,October,The Fall Announcements Issue,0.0,0.0,1.0,0.806452,124.0,2023-08-09,2023-08-25,cover,NaN,NaN,NaN,NaN
1260,Elizabeth Lanyon,13,3.0,1990.0,October,In Moscow: A Lesbian Feminist Press,15.0,17.0,3.0,2.419355,124.0,2023-08-09,2023-08-25,Shelley Anderson,NaN,NaN,NaN,NaN
1267,Elizabeth Lanyon,13,3.0,1990.0,October,But Can She Type? Earth-Conscious Feminst Boo...,25.0,26.0,2.0,1.612903,124.0,2023-08-09,2023-08-25,Nett Hart,NaN,yes,graphic of naked woman in a field of corn. gra...,NaN
1270,Elizabeth Lanyon,13,3.0,1990.0,October,NaN,28.0,28.0,1.0,0.806452,124.0,2023-08-09,2023-08-25,Margaret Merrifield M.D.; Rosamund Elwin & Mic...,NaN,NaN,NaN,NaN
1439,Dana Westmoreland,16,3.0,1993.0,October,Writing Wanted,63.0,64.0,2.0,1.515152,132.0,2023-07-26,2023-08-26,Compiled by Dawn L. Martin,NaN,No,NaN,NaN
1504,Theo Baker,18,1.0,1995.0,May,The American Family is Changing. Is this bad? ...,3.0,3.0,1.0,0.735294,136.0,2023-07-21,2023-09-04,NaN,NaN,NaN,NaN,NaN

In [36]:
#saving the bottom dataset as bottom_housing.csv
df.to_excel(r'C:\Users\salom\OneDrive\Área de Trabalho\FBN-\FBNClean.xlsx', index=False)